<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stdkonjac.onlineledger.dao.LedgerBookDao">
    <select id="selectCategory"
            resultType="com.stdkonjac.onlineledger.entity.LedgerBook">
        select * from ledger_book
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="record_count != null">
                and record_count = #{record_count}
            </if>
            <if test="budget != null">
                and budget = #{budget}
            </if>
        </where>
    </select>

    <select id="selectAllCategory"
            resultType="com.stdkonjac.onlineledger.entity.LedgerBook">
        select *
        from ledger_book
    </select>

    <insert id="insertCategory">
        insert into ledger_book
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="record_count != null">
                record_count = #{record_count},
            </if>
            <if test="budget != null">
                budget = #{budget},
            </if>
        </set>
    </insert>

    <delete id="deleteCategory">
        delete from ledger_book
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="record_count != null">
                and record_count = #{record_count}
            </if>
            <if test="budget != null">
                and budget = #{budget}
            </if>
        </where>
    </delete>

    <update id="updateCategory">
        update ledger_book
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="record_count != null">
                record_count = #{record_count},
            </if>
            <if test="budget != null">
                budget = #{budget},
            </if>
        </set>
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
        </where>
    </update>
</mapper>