<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stdkonjac.onlineledger.dao.SqlScriptDao">
    <select id="executeSelect"
            resultType="java.util.Map">
        ${sql}
    </select>
    <insert id="executeInsert">
        ${sql}
    </insert>
    <delete id="executeDelete">
        ${sql}
    </delete>
    <update id="executeUpdate">
        ${sql}
    </update>
</mapper>